.search.container {
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search.slogan {
  margin-bottom: 8px;
  padding-top: 10px;
  font-size: 28px;
  font-family: Asap;
  color: #2d2d2d;
  font-weight: 700;
}

.search-wrapper {
  width: 100%;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.search-icon svg {
  width: 30px;
  height: 30px;
}

.search-input {
  width: 740px;
  line-height: 50px;
  height: 50px;
  outline: 0;
  font-size: 1.1em;
  box-shadow: none;
  text-indent: 0;
  padding-left: 50px;
  padding-right: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.search-input:focus {
  border: solid 1px #424244;
}

.advanced.search {
  font-size: 13px;
  margin-top: 14px;
  margin-left: 3px;
}

.advanced-btn a {
  color: #f75239;
}

.advanced-btn:hover {
  font-weight: 600;
}
