.pokemon__meta li {
  background-color: rebeccapurple;
  color: #000;
  padding: 6px;
  border-radius: 4px;
  width: 55px;
}

.pokemon__meta ul:last-child {
  margin-bottom: 20px;
}

.pokemon:hover .pokemon__meta {
  font-weight: 500;
}

#name:focus {
  border: 1px solid blueviolet;
  padding: 6px;
}

.pokemon__delete-btn {
  position: absolute;
  left: -20px;
  top: 30px;
  background-color: red;
  color: #fff;
  padding: 5px;
  font-size: 15px;
}

.pokemon li {
  font-weight: 700;
}
